<footer>
  <p>
    The author (that's me) of the weblog is a professional programmer and published writer.
    This is my personal website where I write things and show off current projects.
    I'm an avid role-playing game enthusiast with a heavy background in table top games like Dungeons &amp; Dragons, F.A.T.E., and more.
    When I'm not trying to combine the two things I love I write about them here.
    Otherwise you can find me on <a href="https://mastodon.social/@krainboltgreene">Mastodon 🐘</a> or you can find me on <a href="https://github.com/krainboltgreene">Github 🐈</a>.
    I would love to hear from you.
  </p>
  <p>
    &copy; 2005-2018 Kurtis Rainbolt-Greene
  </p>
</footer>
