<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{page.title}} | {{site.title}}</title>
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{page.title}} | {{site.title}}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site.url}}/">
  <meta property="og:image" content="{{site.url}}/images/open-graph.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="{{site.domain}}">
  <meta property="twitter:url" content="{{site.url}}/">
  <meta name="twitter:title" content="{{page.title}} | {{site.title}}">
  <meta name="twitter:description" content="{{site.description}}">
  <meta name="twitter:image" content="{{site.url}}/images/open-graph.png">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="images/icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family={{site.fonts}}&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="styles/main.css">

  <meta name="theme-color" content="{{site.theme_color}}">
</head>

<body>
  <main class="container">
    {{content}}
  </main>
  <footer class="container">
    <p>
      The author (that's me) of the weblog is a professional programmer and published writer.
      This is my personal website where I write things and show off current projects.
      I'm an avid role-playing game enthusiast with a heavy background in table top games like Dungeons &amp; Dragons, F.A.T.E., and more.
      When I'm not trying to combine the two things I love I write about them here.
      Otherwise you can find me on <a href="https://mastodon.social/@krainboltgreene">Mastodon 🐘</a> or you can find me on <a href="https://github.com/krainboltgreene">Github 🐈</a>.
      I would love to hear from you.
    </p>
    <p>
      &copy; 2005-2018 Kurtis Rainbolt-Greene
    </p>
  </footer>

  <!-- <script defer src="scripts/main.js"></script> -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analytics_id}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{site.google_analytics_id}}');
  </script>
</body>

</html>
